/**google font**/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing:border-box;
    font-family: "Raleway";
}

header,section{
    overflow-x: hidden;
}
header a{
    color: #000;
    text-align: center;
    font-size: 18px;

}


.nav-link{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
    margin-right: 20px;
    font-size: 2.5vmin;
}

.nav-link:hover{
    background:black;
    color:white;
}

.navbar-nav .nav-link:last-child{
    padding-right: 1em;
}

.navbar-nav .nav-link{
    padding:1.2em;
}

header .navbar-brand{
    padding: 0.9em;
    margin-left: 1em;
}

#hero {
    background-image: url('img/1.jpg');
    background-size: cover; 
    background-position: center; 
    height: 70vh;
    width: 100%;
}

header .row{
    padding: 20vmin;
}

header .row h1{
    font-size:11vmin;
    font-weight: 700;
}

header .row p{
    padding: 1vmin;
    font-size:2.5vmin;
    font-weight: 400;
}

/**section 1*/

main .row{
    margin: 10vmin;
}

main .row h6{
    font-size: 2vmin;
    font-weight:500;
}

main .row h2{
    font-size: 7.5vmin;
    font-weight:700;
}

/**Section 2**/

main .section-2 .row{
    margin: 5vmin;
}

main .section-2 .row h4{
    margin: 2vmin;
    font-size: 5vmin;
    font-weight: 600;
}

main .section-2 .row p{
    margin: 2vmin;
    font-size: 2.4vmin;
    font-weight: 400;
    text-align: center;
}

/**Section 3 **/
main .section-3 .row{
    margin: 6vmin;
}

main .section-3 .row h6{
    font-size: 2vmin;
    font-weight:400;
}

main .section-3 .row h2{
    font-size: 6vmin;
    font-weight: 600;
}

main .section-3 .row p{
    font-size: 2.5vmin;
    margin-top: 3vmin;
    
}

main .section-3 .row .container{
    margin-top: 20vmin;
    
}

button
{
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 1.5vmin;
    font-weight: 600;
    border: none;
}

.section-3 img{
    object-fit: cover;
}

.custom-shape {
    border-radius: 80px 0px;
    width: 680px;
    height: 600px;
    flex-shrink: 0;
}

/**section4**/
hr{
    border: 1px solid black;
    margin-bottom: 10vmin;
    margin-top: 5vmin;
}
.row .col-md-6 h2{
    font-size: 5vmin;
    font-weight: 600;
}

/**section 5**/
.section-5 .col-md-6{
    border-left: 1px solid black; 
    border-right: 1px solid black;
}

.section-5 .col-md-3{
    margin-top:12vmin;
}

.section-5 .col-md-3 h4{
    margin-top:2vmin;
    font-size: 3vmin;
    font-weight: 600;
}

footer .custom-line{
    margin-bottom: 0;
}

footer h6{
    margin:3vmin;
    padding: 0;
    font-size: 2vmin;
}
